<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css-lencois.css">
        <title> Lençóis Maranhenses </title>
    </head>

    <body>
        <div id="topo">
            <img src="Viagens.com (4).png" alt="logo"= width= "90" height="80">
    
        
      
        <!-- letras da faixa -->
    </div>
    
        <div class="nav">    
        
            
            <!-- href= "comentario"-->
            <center>
            <ul> 
    
            <li> <a href="paginainicial.html"> Pagina inicial </a> </li>
            <li> <a href="pontos_turisticos.html"> Pontos Turisticos</a> </li>
            <li> <a href="sobre.projeto.html"> Sobre </a> </li>
            <li> <a href="contato.projeto.html"> Contato </a> </li>

              
            </ul>
        </center>
        </div>
         <h1>Lençóis Maranhenses</h1>
        <p>
            O Parque Nacional dos Lençóis Maranhenses é uma área protegida na costa atlântica norte do Brasil. É conhecido pela sua vasta paisagem desértica de grandes dunas de areia branca e pelas lagoas sazonais de água da chuva. 
        </p>

        <p>
            Após as subidas e descidas nas dunas, o que compensa e  refresca os viajantes é a água cristalina. Entre uma duna e outra, lá está uma lagoa cristalina, onde você pode aproveitar e relaxar. Além disso, os Lençóis Maranhenses têm trilhas intensas para quem adora de se aventurar na natureza!
        </p>

        <center><img src="lencois02.jpg" alt="lencois02"= width= "335" height="175"></center>

    </body>
</html>