<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>galinhas</title>
    <link rel="stylesheet " type=" text/css" href="galinhas.css"



</head>

    <body>
        <div id="topo">
            <img src="Viagens.com (4).png" alt="logo"= width= "80" height="70">
    
    
    
        <!-- letras da faixa -->
    </div>
    
        <div class="nav">
    
    
            <!-- href= "comentario"-->
            <center>
            <ul>
    
                <li> <a href="paginainicial.html"> Pagina inicial </a> </li>
                <li> <a href="pontosturisticos.html"> Pontos Turisticos</a> </li>
                <li> <a href="sobre.projeto.html"> Sobre </a> </li>
                <li> <a href="contato.projeto.html"> Contato </a> </li>
    
            </ul>
          </center>
        </div>

        <h1> Liberte o viajante dentro de você! </h1>
        <h3> Descubra nossos destinos mais populares </h3>

        <div class="row">
            <div class="coluna">
              <center><h1></h1></center>

            <center><img src="chapada das mesas.jpeg" alt=" chapada das mesas - (MA)" width="400" height="240"> <p> chapada das mesas - (MA) </p> </center>
        
            <center> <img src="Instituto Ricardo Brennand em Recife o Melhor Museu do Brasil.jpeg" alt="Instituto Ricardo Brennand (PE)" width="400" height="240"> <p> Instituto Ricardo Brennand (PE) </p> </center>

            <center><img src="6 cidades para visitar no Rio Grande do Sul na sua próxima viagem - Viajar faz bem.jpeg" alt=" Gramado (RS)" width=" 400" height=" 240"> <p> Gramado (RS) </p> </center>

            <center><img src="parque aquático Arraial d'ajuda.jpeg" alt=" Eco Parque Arraial d'Ajuda (BA)" width="400" height="240"> <p> Eco Parque Arraial d'Ajuda (BA) </p> </center>

            <center><img src="O QUE FAZER EM CURITIBA – DICAS DE PASSEIOS E ATRAÇÕES.jpeg" alt=" Jardim Botânico (PR)" width="400" height="240"> <p> Jardim Botânico (PR) </p> </center>

            <center><img src="O que fazer em Foz do Iguaçu e região_ o melhor roteiro para até 4 dias (passo a passo) - Sthe On The Road.jpeg" alt="Foz do Iguaçu (PR)" width="400" height="240"> <p> Foz do Iguaçu (PR) </p> </center>
    </body>

</html>