<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poto seguro</title>
    <link rel="stylesheet " type=" text/css" href="cssporto.css"
   
   
</head>



<body>
    <div id="topo">
        <img src="Viagens.com (4).png" alt="logo"= width= "90" height="80">

    
  
    <!-- letras da faixa -->
</div>

    <div class="nav">    
    
        
        <!-- href= "comentario"-->
        <center>
        <ul> 
              
            <li> <a href="paginainicial.html"> Pagina inicial </a> </li>
            <li> <a href="pontos_turisticos.html"> Pontos Turisticos</a> </li>
            <li> <a href="sobre.projeto.html"> Sobre </a> </li>
            <li> <a href="contato.projeto.html"> Contato </a> </li>

          
        </ul>
       </center>
    </div>
           

    <div id="rodape">
<center> <h1> Porto Seguro</h1></center> 
  
    <p>Porto Seguro é um destino muito completo quanto às opções. Desde o dia até a noite, o que não faltam são lugares para conhecer. As belezas naturais são imensas e você não irá se arrepender se desbravar o município a fundo.
    </p>

    <p>A principal atração para quem visita Porto Seguro é a praia, bem como suas barracas de ótima estrutura. Além disso, são oferecidos muitos passeios pelos lugares que cercam a cidade. Arraial d`Ajuda, distrito vizinho, é um grande exemplo.</p>

    <center><img src="PORTO.jpeg" alt="Praia de porto seguro"= width= "335" height="175"></center>

    <p>Para a noite, nada melhor do que ir à Passarela do Álcool. O lugar é cheio de bares, barracas de drinks, restaurantes e lojinhas de lembranças. O melhor da noite está ali.
        <center> <img src="noite.jpeg" alt="Praia durante a noita"= width= "335" height="175"></center>

    </p>
</body>
</html>