<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet " type=" text/css" href="sobre.css"


</head>

<body>
    <div id="topo">
        <img src="Viagens.com (4).png" alt="logo"= width= "80" height="70">


</div>

    <div class="nav">
<center>
        <ul>

            <li> <a href="paginainicial.html"> Pagina inicial </a> </li>
            <li> <a href="pontos_turisticos.html"> Pontos Turisticos</a> </li>
            <li> <a href="sobre.projeto.html"> Sobre </a> </li>
            <li> <a href="contato.projeto.html"> Contato </a> </li>

        </ul>
</center>       
    </div>


    <div id="rodape">

    <center><h1>SOBRE</h1> </center>
       <center> <p>Olá! Seja bem-vindo(a) ao nosso site de viagens. Como já visto, somos uma agência de viagens com a intenção de propôr os melhores momentos e sensações que você pode ter. Lugares fantásticos que você pode conhecer e se aventurar com a sua melhor companhia. Temos passeios turísticos que você vai adorar fazer.
        Venha se divertir com a viagens.com! </p> </center>
</body>
</html>