<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>galinhas</title>
    <link rel="stylesheet " type=" text/css" href="galinhas.css"



</head>

<body>
    <div id="topo">
       <img src="Viagens.com (4).png" alt="logo"= width="90" height="80">



    <!-- letras da faixa -->
  </div>

        <div class="nav">


            <!-- href= "comentario"-->
            <center>
                <ul>

                    <li> <a href="#"> Pagina inicial </a> </li>
                    <li> <a href="#"> Pontos Turisticos</a> </li>
                    <li> <a href="#"> Sobre </a> </li>
                    <li> <a href="contato.projeto.html"> Contato </a> </li>

                </ul>
            </center>
     </div>




    <center><h1>Porto de Galinhas</h1> </center>
<div>
    <p style="float: left;"><img src="picsinas-porto-de-galinhas24.jpg" al height="200px" width="200px" border="1px"></p>
    <p align="left"> Porto de galinhas é um lugar ideal para quem quer descansar, curtir alguns dias na beira do mar, pegar um bronze. O mar cristalino, com direito a piscinas naturais e muitos peixinhos é um convite ao mergulho em suas águas mornas. Lá tem várias atrações, mas as praias são as principais atividades do distrito. Conheça algumas </p>
</div>
<div style="clear: left;">
    <p style="float: left;"><img src="culpe.jpg" height="200" width="200" border="1px"></p>
    <p>Praia de cupe. O Cupe é uma praia bem longa e onde estão boa parte dos bons hotéis de Porto de Galinhas. A melhor área dessa praia é o chamado Pontal do Cupe, onde piscinas naturais e que ficam com água tranquila.</p>
</div>


</body>
</html>
