{%load bootstrap5 %} {% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Icons for App Web-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% block title %}
    <title>Document</title>
    {% endblock title %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    {% block header %}
    <!--Header-->
    {% include 'base/components/header.html' %} {% endblock header %}
    <!--End Header-->
    {% block content %}
    <!--Content-->
    <p>Conteúdo do site</p>
    {% endblock content %}
    <!--End Content-->
    {% block footer %} ]
    <h1>Aqui é o rodapé</h1>
    {% endblock footer %} {% bootstrap_javascript %}
    <script src="{% static 'scripts.js' %}"></script>
  </body>
</html>
